@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --active-color: #FA4A0C;
    --button-bg-color: #FA4A0C;
    --suptitle-color: #FA4A0C;
    --text-color: #252B42;
    --second-text-color: #737373;
    --title-color: #FFF;
    --hero-color: #F6F6F6;
    --copyright-color: #5C5C5C;
}
:root{
    --title-font: "Poppins";
    --main-font: "Montserrat";
    --copy-font: "Roboto";
}
body {
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.1px;
}
.container {
    display: flex;
    margin: 0 auto;
    width: 1260px;
}
/*header*/
.header {
    padding: 50px 0 40px;
}
.header-container {
    justify-content: space-between;
}
.header-logo {
    display: inline-block;
}
.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 94px;
}
.header-vector {
    width: 150px;
    height: 65px;
}
.header-link {
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover {
    color: var(--active-color);
}
.active {
    color: var(--active-color);
}

/*hero*/
.hero {
    background: linear-gradient(to bottom, #17101099, #17101099), url(../images/dishes.jpg) no-repeat center/cover;
    padding: 80px 0 162px;
}
.hero-container {
    width: 1005px;
    flex-direction: column;
}
.hero-suptitle {
    color: var(--hero-color);
    text-align: center;
}
.hero-title {
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: 58px;
    line-height: 80px;
    padding: 10px 103px;
    margin: 1px;
    letter-spacing: 0.2px;
    text-align: center;
}
.hero-subtitle {
    color: var(--hero-color);
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.2px;
    text-align: center;
    padding: 15px 108px;
}
.hero-list {
    margin-top: 54px;
    display: flex;
    justify-content: center;
    gap: 67px;
}
.hero-button {
    border: 1px solid var(--title-color);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;   
    letter-spacing: 0.1px;
    color: var(--title-color);
    border-radius: 30px;
    padding: 16px;
    width: 235px;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
}
.hero-item:first-child .hero-button {
    background-color: var(--button-bg-color);
    border: none;
    width: 236px;
    box-shadow: 0px 10px 30px 0px #B7322733;
}

/*work*/
.work {
    padding: 56px 0 185px;
}
.work-container {
    width: 1096px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.work-title {
    font-family: var(--title-font);
    color: var(--text-color);
    font-weight: 600;
    font-size: 44px;
}
.work-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 89px;
}
.work-wrapper {
    text-align: left;
}
.work-text-suptitle {
    color: var(--suptitle-color);
}
.work-text-title {
    color: var(--text-color);
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
}
.work-text-subtitle {
    color: var(--second-text-color);
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.2px;
}

/*order*/
.order {
    background: linear-gradient(to bottom, #252B4266, #252B4266), url(../images/kitchen.jpg) no-repeat center/cover;
    padding: 131px 0 130px;
}
.order-container {
    flex-direction: column;
}
.order-title {
    color: var(--title-color);
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
}
.order-subtitle {
    color: var(--title-color);
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.2px;
    padding: 10px 0 59px;
    text-align: center;
}
.order-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.order-item:first-child .order-button {
    border-color: var(--active-color);
    background-color: var(--active-color);
    padding: 16px 31px;
    box-shadow: 0px 10px 30px 0px #B7322733;
}
.order-button {
    color: var(--title-color);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    padding: 16px 45px;
    border-radius: 10px;
    border: 1px solid var(--title-color);
    background-color: transparent;
    text-align: center;
    cursor: pointer;
}

/*footer*/
.footer {
    padding: 114px 0 59px;
}
.footer-container {
    justify-content: space-between;
    align-items: center;
}
.footer-logo {
    display: inline-block;
}
.footer-vector {
    width: 150px;
    height: 65px;
}
.footer-copyright {
    font-family: var(--copy-font);
    color: var(--copyright-color);
    font-size: 12px;
    line-height: 18px;
    text-align: right;
}